{% extends "scoreboard/base.html" %}
{% load static %}


{% block title %}
    {% if view_type == "score" %}
        Score • {{ score.name }}
    {% elif view_type == "player" %}
        Player Scores • {{ player.name }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col text-center">
        <h1 class="rounded p-4 text-light bg-primary">
            {% if view_type == "score" %}
                {{ score.name }} Score
            {% else %}
                {{ player.name }}'s Scores
            {% endif %}
        </h1>
    </div>
</div>

<div class="row py-4 justify-content-center">
    <div class="col-lg-8 col-md-12">
        <table id="table" class="table table-striped table-hover border" data-score-id="{{ score.id }}">
            <thead>
                <tr>
                    {% if view_type == "score" %}
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                    {% elif view_type == "player" %}
                        <th>Category</th>
                        <th>Rank</th>
                        <th>Score</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if view_type == "score" %}
                    {% for entry in entries %}
                        <tr class="player-row" data-player-id="{{ entry.player.id }}">
                            <td>{{ entry.rank }}</td>
                            <td>
                                <a href="{% url "scoreboard:player" entry.player.name %}" class="text-decoration-none">{{ entry.player.name }}</a>
                            </td>
                            <td>{{ entry.value }}</td>
                        </tr>
                    {% endfor %}
                {% elif view_type == "player" %}
                    {% for entry in entries %}
                        <tr>
                            <td>
                                <a href="{% url "scoreboard:score" entry.score.name %}" class="text-decoration-none">{{ entry.score.name }}</a>
                            </td>
                            <td>{{ entry.rank }}</td>
                            <td>{{ entry.value }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        {% if view_type == "score" %}
        <div class="mt-4 p-3 border rounded">
            <h5>Modify Score</h5>
            <form id="score-modify-form">
                {% csrf_token %}
                <input type="hidden" id="selected-player-id" name="player_id" value="">
                <div class="input-group">
                    <button type="button" class="btn btn-danger" id="remove-score">Remove</button>
                    <input type="number" id="score-change" class="form-control" name="value" value="1" min="1">
                    <button type="button" class="btn btn-success" id="add-score">Add</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
<script src="{% static 'scoreboard/js/modify_score.js' %}"></script>
{% endblock %}