{% extends "scoreboard/base.html" %}

{% block title %}Scores{% endblock %}

{% block content %}
<div class="d-flex flex-wrap align-items-start gap-4">
    <div class="card flex-grow-1">
        <div class="card-header">
            <h3 class="card-title pt-2">All Scores</h2>
        </div>
        {% if scores %}
        <ul class="list-group list-group-flush">
            {% for score in scores %}
            <li class="list-group-item">
                <a href="{% url "scoreboard:score" score.name %}">{{ score.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No scores yet.
            </div>
        {% endif %}
    </div>
    <div class="card flex-grow-1">
        <div class="card-header">
            <h3 class="card-title pt-2">All Players</h2>
        </div>
        {% if players %}
        <ul class="list-group list-group-flush">
            {% for player in players %}
            <li class="list-group-item">
                <a href="{% url "scoreboard:player" player.name %}">{{ player.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No scores yet.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}